page-seachprefix {

  .searchbar-md .searchbar-input {
    padding: 6px 55px;
    border-radius: 15px;
    background-position: left 8px center;
    height: 30px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    background-color: #e6e6e6;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: none;
  }

  .searchbar-md .searchbar-search-icon {
    right: 16px;
    top: 6px;
    width: 25px;
    height: 25px;
  }

  .searchbar-ios {
    padding: 0px;
    min-height: 60px;
    border-radius: 15px;
    background-color: white;
  }

  .searchbar-search-icon {
    top: 11px !important;
    width: 18px !important;
    height: 18px !important;
    background-size: 18px !important;
  }
  .searchbar-ios .searchbar-input {
    padding: 0 28px;
    border-radius: 2rem;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000;
    background-color: #e6e6e6;
  }
  .searchbar-ios .searchbar-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
}

}
