<!--
  Generated template for the SeachprefixPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="md-arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{"SEARCHPREFIX" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="chats-searchbar-layout">
    <ion-searchbar (ionInput)="getItems($event)" placeholder="{{'SEARCTYPE'  | translate}}"></ion-searchbar>
    <br>
  </div>

  <ion-list>
    <ion-item no-lines *ngFor="let item of countyries;  let i =index" (click)="countryData(item);">
      <ion-avatar item-start>
        <img src="assets/imgs/lang/{{item.code}}.png">
      </ion-avatar>
      <span>(+{{item.prefix}})</span>
      <span>{{ item.country }}</span>
    </ion-item>
  </ion-list>




</ion-content>
