page-login {

  .scroll-content{
    background-image: url('../assets/imgs/login-page-background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:100vh;
    overflow:hidden;

    .back-button{
      display:block;
      position:absolute;
      top:2rem;
      left:1rem;
      background:none;
      border:none;
      .icon{
        color:map_get($colors,danger);
      }
    }

  }

  h1[margined] {

  }

  @media only screen and (min-height:500px){
    h1[margined]{
      margin-bottom:6rem !important;
      margin-top: 6rem!important;

    }
  }

  @media only screen and (max-height:500px){
    h1[margined]{
      margin-bottom:10vh !important;
      margin-top: 10vh!important;

    }
  }


  @media only screen and (max-height:460px){
    h1[margined]{
      margin-bottom:8vh !important;
      margin-top: 8vh!important;

    }
  }
  @media only screen and (max-height:430px){
    h1[margined]{
      margin-bottom:1rem !important;
      margin-top: 1rem!important;

    }
  }




  #language {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;

    @include flags();
  }

  .login-button {
    margin-top: 3rem;
  }
  .should-hide[margin-top] {
    margin-top: 3rem !important;
  }
  .bottom-block {
    /*position: absolute;*/
    /*bottom: 3rem;*/
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    line-height: 3rem;
    vertical-align: middle;
    font-size:1.7rem;
    span.a-brother{
      color:map_get($colors,primary);
      text-decoration:none;
    }
  }

  a {
    color: #000;
    text-decoration: underline;

  }

  .passwordHolder{
    position:relative;
    .passwordEye{
      position:absolute;
      right:-1.2rem;
      bottom:0px;
      font-size:1.5rem;
    }
  }

  #country{
    option{
      width:20px;
      height:20px;
      background-size:20px 20px;
      @include flags();
    }

  }
}
