
<div class="interactiveSelect">
  <div class="umbrella " [ngClass]="getUmbrellaClass()">
    <!--<div class="left" (click)="Select('umbrella','left')"></div>-->
    <div class="left"></div>
    <div class="right"></div>
  </div>

  <div class="seats" *ngIf="umbrellaData">
    <div class="column left" [ngClass]="umbrellaData.seats.first" (click)="Select('seats','first')"></div>
    <div class="column left" [ngClass]="umbrellaData.seats.second" (click)="Select('seats','second')"></div>
    <div class="column right" [ngClass]="umbrellaData.seats.third" (click)="Select('seats','third')"></div>
    <div class="column right" [ngClass]="umbrellaData.seats.fourth" (click)="Select('seats','fourth')"></div>
  </div>
</div>

