popover_weather{
.languageHolder{
  background:white;
  .item{
    height:40px;
    margin:10px auto;
    .tick,.name{
      display:inline-block;
    }
    .tick{
      @include weather();
      background-size:20px 20px;
      background-position:center;
      background-repeat:no-repeat;
      width:30px;
      height:30px !important;

    }
    .name{
      width:70px;
      position:relative;
      top:-1rem;
      text-transform:capitalize;
      color:map_get($colors,dark) !important;
      font: $font-family-base 1.3rem;
      font-weight:600;
    }
  }
}
}

