<ion-list class="languageHolder" (click)="close()" *ngIf="items">
  <ion-item no-lines *ngFor="let item of items | ToArray:['description']; let i=index;">
   <div class="tick" [ngClass]="item |key:true"></div> <div class="name">{{ "weather." + (item |key:true) | translate }} {{ item | key:false }}</div>
  </ion-item>
</ion-list>
