app-search-result-include{

.main-container{
  padding-top:4px;


  p{
    margin-top:.5rem;
    text-align:center;
  }
  ion-card{
    position: relative;
    .has-closed{
      background:rgba(153, 153, 153, 0.68);
      position:absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index:1002;

      display:flex;
      flex-direction:column;
      justify-content:center;
      .inner-closed{
        font-weight:bold;
        text-align:center;
        font-size:3rem;
        text-transform: uppercase;
        font-family:'ProximaNova',sans-serif;
        color:#323232;

        .hours {
          font-size:1.2rem;
        }
      }
    }

    &.card{
      background:map_get($colors,white);
      width:calc(100% - 8px);
      margin:5px 4px;
      padding:8px 3px;
      .result-header{
        h3{
          font-size:1.8rem;
          margin-left:2px;
          color:map_get($colors,dark);
        }
      }


      .result-body{
        overflow:hidden;
        padding:2px;
        position:relative;
        .image-holder{
          position:relative;
          z-index:5;
          img{
            width:100%;
            object-fit: cover;
          }
          .banner{
            position:relative;
          }
          .leftRs,.rightRs{
            width:40px;
            position:absolute;
            top:0;
            bottom:0;
            margin:auto;
            @include border-radius(50px);
            padding:0;
            height:40px;
            font-size:2rem;
            z-index:20;
            background:rgba(map_get($colors,light),0.7);
            color:map_get($colors,danger);
          }
          .leftRs{
            left:5px;
          }
          .rightRs{
            right:5px;
          }
        }

      }

      .features{
        .icon{
          color:map_get($colors,gray);
          margin-right:5px;
        }
      }
      .has-promotion{
        background:map_get($colors,primary);
        padding-top:5px;
        @include transform(rotate(-45deg));
        position:absolute;
        width:150px;
        height:25px;
        z-index:1001;
        top:25px;
        left:-35px;

        display:flex;
        flex-direction:column;
        justify-content:center;
        padding-bottom:5px;
        .inner-promotion{
          font-weight:bold;
          text-align:center;
          font-size:1rem;
          text-transform: uppercase;
          font-family:'ProximaNova',sans-serif;
          color:map_get($colors,dark);

        }
      }

      .direction-location-text{
        color:map_get($colors,primary);
        text-align:center;
        font-weight:600;
        font-size:3vw;
      }
      .result-footer{
        margin-top:10px;
        padding:0 8px;
        ion-row{
          ion-col{
            padding:0;
            .star-rating{
              margin-bottom:5px;
              display:flex;
              flex-direction:row;
              p{
                margin-right:10px;
                color:map_get($colors,gray);

              }
              color: color($colors, light);
              .full {
                color: color($colors, primary);
              }
            }
          }
        }

      }

      .direction-btn-holder{
        .button{
          width:100%;
          display:flex;
          flex-direction:row;
          margin:0;
          padding:0;
          height:6vh;
          img{
            height:4vh;
            width:4vh;
            margin-right:2vw;

            margin-left:1vw;
          }
          .direction-text{
            height:80%;
           // margin:10% 0;
            font-size:4vw;
            white-space: pre-line;
            text-align:left;
            display:block;
            font-weight:600;
          }
        }
      }

    }

  }
}
}