<ion-header class="has-shadow" #header>

    <ion-navbar>

        <ion-title>{{ title }}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="showProducts()">
                <ion-icon name="paper"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>&nbsp;&nbsp;</ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only (click)="showWaterMenu()">
                <ion-icon class="fa fa-thermometer-full"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content no-bounce id="content">
    <div class="container" id="container" [ngStyle]="getFullWidth()">
        <div class="wave" *ngIf="!navParams.data.startD" #wave></div>
        <ng-container *ngFor="let item of grid.front">
            <!-- [style.left]="getPosXOnPercentage(item?.coords?.x)" [style.top]="getPosYOnPercentage(item?.coords?.y)" -->
            <div [ngClass]="isFreeSeats(item) ? 'seat free' : 'seat'" [ngStyle]="getPosStyle(item?.coords)">
                <img src="./assets/imgs/beach-icons/{{ item.type }}/{{ IsItMyBooking(item.status_icon,item)  }}" (click)="Proceed(item.type,item,item.number,'front')"
                />
                <!-- <span>{{item.number}}</span> -->
            </div>
        </ng-container>
        <ng-container *ngFor="let item of grid.middle">
            <div [ngClass]="isFreeSeats(item) ? 'seat free' : 'seat'" [ngStyle]="getPosStyle(item?.coords)">
                <img src="./assets/imgs/beach-icons/{{ item.type }}/{{ IsItMyBooking(item.status_icon,item) }}" (click)="Proceed(item.type,item,item.number,'middle')"
                />
                <!-- <span>{{item.number}}</span> -->
            </div>
        </ng-container>
        <ng-container *ngFor="let item of grid.back">
            <div [ngClass]="isFreeSeats(item) ? 'seat free' : 'seat'" [ngStyle]="getPosStyle(item?.coords)">
                <img src="./assets/imgs/beach-icons/{{ item.type }}/{{ IsItMyBooking(item.status_icon,item) }}" (click)="Proceed(item.type,item,item.number,'back')"
                />
                <!-- <span>{{item.number}}</span> -->
            </div>
        </ng-container>
        <ion-row class="sunbedLink" (click)="Proceed('sunbed',{},1)" *ngIf="beachsettings.extra_sunbeds>0 && SearchObj && SearchObj.seat_type=='sunbed'">
            <ion-col col-3>
                <img src="./assets/imgs/beaches/individual_sunbed_without_umbrella.png" />
            </ion-col>
            <ion-col col-6>
                <div class="text">{{ 'SUNBED_WITHOUT_UMBRELLA' | translate }}</div>
            </ion-col>
            <ion-col col-3>
                <img src="./assets/imgs/beaches/individual_sunbed_without_umbrella.png" />
            </ion-col>
        </ion-row>
    </div>

</ion-content>