phoneComponent{

  .inputNumber{
    padding-top:1rem;

    position:relative;
    display: none;
    visibility: hidden;
    .contentMain{
      .input-wrapper{
        display:block;
        flex:none;
        ion-label{
          font-size:1.4rem;
        }
      }
      .item{
        min-height:3rem;
        ion-input{
        padding:0;
      }
      }

      .short{
          max-width:20%;
          width:auto;
          display:inline-block;

          input{
           max-width:100%;
          }
        }
        .long{
          max-width:77%;
          width:auto;
          display:inline-block;
          margin:0;
        }
    }
    &.active{
      display:block;
      visibility: visible;
    }
  }
  .searchResult{
    margin:.2rem 0rem;
    width:100%;
    padding-top:1rem;

    overflow-y:scroll;
    overflow-x:hidden;
    position:absolute;
    max-height:200px;
    background:map_get($colors,light);
    @include border-radius(5px);
    z-index:400;
    .item{
      min-height:3.5rem;

      .input-wrapper{
        margin:0;
        padding:0;
        ion-label{
          margin:0;
          padding:0;
        }
      }

      padding:0 2rem;
      font-family:$font-family-base;
      font-weight:500;
      cursor:pointer;
      color:map_get($colors,primary);
      font-size:1.3rem;
      &.active{
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
      }

    }
  }
}
