search-dupplication {
  padding-right: 2rem;
  padding-left:2rem;
  h4{
    font-size:3rem;
    text-align:center;
    font-weight:bold;

  }
  p{
    font-size:1.8rem;
    text-align:center;
    font-weight:400;
    width:90%;
    margin:0 auto;
    padding-bottom:3rem;
    padding-top:1rem;
  }


  .buttons{
    width:90%;
    margin:0 auto;

    .button{
      background:linear-gradient(to right, #fe5295, #f86d67);
      width:100%;
      display:inline-block;
      @include border-radius(50px);
      // &:last-child{
      //   float:right;
      // }
    }

  }

}
ion-popover {
  ion-backdrop {
    opacity: .3 !important;
  }
  div.popover-content {
    box-shadow: 0 0 1rem rgb(68, 68, 68);
  }
}

