page-search {
    ion-content {
        background: white !important;
    }
    #top-buttons {
        padding-top: 8vh;
    }
    ion-fab {
        top: 1.5rem !important;
    }
    .scroll-content {
        padding-top: 2rem !important;
        overflow: hidden;
    }
    .back-button {
        display: inline-block;
    }
    .quick-search-message {
        font-size: 1rem;
        margin-top: 0.3rem;
    }
    .searchResultQuick {
        margin: .2rem auto;
        position: absolute;
        max-width: 250px;
        min-width: 200px;
        overflow-y: scroll;
        left: 0;
        right: 0;
        overflow-x: hidden;
        max-height: 200px;
        background: map_get($colors, light);
        @include border-radius(5px);
        z-index: 400;
        .item {
            min-height: 3.5rem;
            min-width: 100%;
            .input-wrapper {
                margin: 0;
                padding: 0;
                ion-label {
                    margin: 0;
                    padding: 0;
                }
            }
            padding:0 2rem;
            font-family:$font-family-base;
            font-weight:500;
            cursor:pointer;
            color:map_get($colors, primary);
            font-size:1.3rem;
            &.active {
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -ms-transition: all 1s;
                -o-transition: all 1s;
                transition: all 1s;
            }
        }
    }

    .button.button-default {
        height: 4rem;
    }
    button.default {
        border: 1px solid color($colors, primary, base);
        background: #fff;
        color: color($colors, primary, base);
        padding: 0 20px;
    }
}