searchMaster{

  .datetime-text{
    font-size:1.3rem;
  }
  .item-datetime-disabled{
    &,.datetime-disabled{
      opacity:1;
    }
    ion-label{
      opacity:1;
    }
  }

  ion-col[col-6].end_date {
    ion-item.item {
      text-align: right;
      .item-inner {
        padding-right: 0;
        ion-label {
          margin-right: 0;
        }
        ion-datetime {
          padding-right: 0;
        }
      }
    }
  }

  .searchResult{
    margin:.2rem 0rem;
    position:absolute;
    width:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    max-height:200px;
    background:map_get($colors,light);
    @include border-radius(5px);
    z-index:400;
    .item{
      min-height:3.5rem;
      min-width:100%;
      .input-wrapper{
        margin:0;
        padding:0;
        ion-label{
          margin:0;
          padding:0;
        }
      }

      padding:0 2rem;
      font-family:$font-family-base;
      font-weight:500;
      cursor:pointer;
      color:map_get($colors,primary);
      font-size:1.3rem;
      &.active{
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
      }

    }
  }
}
