resetPassword{


  .scroll-content{
    background-image: url('../assets/imgs/login-page-background.png');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height:100vh;
    overflow:hidden;
  }


  h1[margined] {
    margin-top: 3rem!important;
    margin-bottom: 2rem!important;
  }

  .button{
    margin-top:2rem;
  }
  .btn{
    position:absolute;

  }
}
