

<ion-content [style.background-position]="'0 ' + shouldTop">

<button ion-button icon-only class="btn" clear navPop><ion-icon name="arrow-back" color="primary"></ion-icon></button>
  <h1 text-center margined> {{ 'RESET_PASSWORD' | translate }}</h1>

  <h5 text-center color="dark">{{ 'FOR' | translate }}</h5>
  <form [formGroup]="resetData" (submit)="doForgetPass()">
    <div margined>


      <ion-input type="hidden" placeholder="+(40)722 222 222" formControlName="phone" required></ion-input>

      <phoneComponent (CompletedSelect)="updatePhone($event)" [toggleData]="rand"></phoneComponent>

      <button ion-button round full pink-gradient class="login-button" [disabled]="!resetData.valid">{{ 'SUBMIT'|translate }}</button>
    </div>
  </form>
</ion-content>
