<ion-header class="has-shadow">

	<ion-navbar>
		<ion-title>{{ title }}</ion-title>
		<ion-buttons end>

		</ion-buttons>
	</ion-navbar>

</ion-header>

<ion-content>
	<ion-list>
		<h2 margined ion-text *ngIf="reservationStatus != 'change-request'" color="white">{{
			'TAP_ON_SUNBED_YOU_WANT_TO_ORDER' | translate }}</h2>
		<h2 margined ion-text *ngIf="reservationStatus == 'change-request'" color="white">{{ 'YOUR_REQUEST_PENDING_MESSAGE'
			| translate }}</h2>
		<div class="sunbedContainer">
			<ion-row class="sunbedHeading">
				<ion-col col-7>
					<ion-row>
						<h2 margined blackDark>{{ 'NUMBER' | translate }}: {{ index }}</h2>
					</ion-row>
				</ion-col>
				<ion-col col-5>{{ status.data.price | price }} {{ configuration.currency }}/{{ 'SUNBED' | translate }}</ion-col>
			</ion-row>
			<div class="sunbedBg">
				<ion-row class="top">
					<ion-col col-5>
						<div class="As">A</div>
					</ion-col>
					<ion-col></ion-col>
					<ion-col col-5>
						<div class="As right">B</div>
					</ion-col>
				</ion-row>
				<div class="sunbedHolder">
					<beach-umbrella [ReceivedEvent]="umbrellaData" (changes)="UpdateData($event)"></beach-umbrella>
				</div>

				<ion-row class="bottom">
					<ion-col>
						<div class="seats">{{ status.icon - selected }} {{ 'SEATS' | translate }}</div>
						<div class="availability">{{ 'AVAILABLE' | translate }}</div>
					</ion-col>
					<ion-col>
						<div class="seats">{{ selected }} {{ 'SEATS' | translate }}</div>
						<div class="availability blued">{{ 'SELECTED' | translate }}</div>
					</ion-col>
					<ion-col *ngIf="busy">
						<div class="seats">{{ busy }} {{ 'SEATS' | translate }}</div>
						<div class="availability red">{{ 'OCCUPIED' | translate }}</div>
					</ion-col>

				</ion-row>
			</div>
		</div>

		<ion-row *ngIf="avail_sunbed()>0 && reservationStatus != 'change-request'" class="extra-sunbeds">
			<ion-col col-12>
				<h4 no-margin ion-text class="additional" color="primary">{{ 'DO_YOU_WANT_ADDITIONAL_SUNBED' | translate }}</h4>
			</ion-col>
			<ion-col col-2 no-padding *ngFor="let extra of getExtraSunbedArr(); let i =index">
				<button ion-button (click)="onChangeExtra(extra)" [disabled]="(status.icon - selected)" color="{{ sunbed==extra?'primary':'white' }}">{{
					extra }}</button>
			</ion-col>
			<ion-col col-6></ion-col>
		</ion-row>

		<!--  *ngIf="reservationStatus != 'change-request'" -->
		<div class="TextContainers">

			<ion-item class="terms-condition">
				<ion-checkbox start [(ngModel)]="reservationBox" (ngModelChange)="check()"></ion-checkbox>
				<ion-label>{{'ACCEPT' |translate}} <a href="#" item-content (click)="Agreement()">{{'TERMS_CONDITIONS'
						|translate}}</a></ion-label>
			</ion-item>
			<ng-container *ngIf="reservationStatus != 'change-request'">
				<h2 blackDark>{{ 'TOTAL' | translate }}: {{ getTotal() | price }} {{ configuration.currency }}</h2>

				<div *ngIf="beach_settings.only_cc">
					<button [disabled]="selected<1 || !reservationBox" ion-button round block color="primary" light (click)="onPay()">{{
						'PAY' | translate
						}}</button>
				</div>

				<ion-row *ngIf="!beach_settings.only_cc">
					<ion-col>
						<button [disabled]="(selected < 1 || !isReserveAvailable()) || !canReserve()" ion-button round block color="white"
						 class="reserve" (click)="completeReservation()">{{ 'RESERVE' | translate }} ({{ 'FOR' | translate }} {{
							beach_settings.booking_time_limit }} {{ 'MIN' | translate }})</button>
					</ion-col>
					<ion-col *ngIf="beach_settings.card">
						<button [disabled]="selected<1 || !reservationBox" ion-button round block color="primary" light (click)="onPay()">{{
							'PAY' | translate
							}}</button>
					</ion-col>
				</ion-row>
			</ng-container>
		</div>
	</ion-list>
</ion-content>